[mysqld]
user=wh4mi
datadir=/home/wh4mi/Dokumen/S5/senin/pw/mbengkelQ/storage/mariadb_data
socket=/home/wh4mi/Dokumen/S5/senin/pw/mbengkelQ/storage/mariadb_run/mysqld.sock
port=3307
bind-address=127.0.0.1
log-ddl-recovery=/home/wh4mi/Dokumen/S5/senin/pw/mbengkelQ/storage/mariadb_data/ddl_recovery.log
[client]
socket=/home/wh4mi/Dokumen/S5/senin/pw/mbengkelQ/storage/mariadb_run/mysqld.sock
